<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Token List</title>
</head>
<body>
  <h1>Token List</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <tr th:each="token : ${tokens}">
      <td th:text="${token.id}"></td>
      <td th:text="${token.value}"></td>
      <td>
        <a th:href="@{/api/tokens/__${token.id}__}" th:text="'View'"></a>
        <a th:href="@{/api/tokens/__${token.id}__/edit}" th:text="'Edit'"></a>
        <a th:href="@{/api/tokens/__${token.id}__/delete}" th:text="'Delete'"></a>
      </td>
    </tr>
  </table>
  <a th:href="@{/api/tokens/new}">Add Token</a>
</body>
</html>
